<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution> 
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" protocolVersion="2" />
    <add key="rico_nuget" value="http://192.168.1.201:4356/v2" protocolVersion="2" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="rico_nuget" value="http://192.168.1.201:4356/v2" protocolVersion="2" />
  </packageSources>
</configuration>